In [1]:
import pandas as pd
df1 = pd.DataFrame({"cars":["Ferrari","BMW","Lamborgini","Ford"],
                    "wt": [309,500,400,350],
                   "mpg":[100,120,230,350],
                   "price":[5000,8000,10000,12000],
                   "drive":["forward-wheel","rear-wheel","rear-wheel","forward-wheel"],
                   "type":["goods-utility","suv","sports","general"]})

In [14]:
df1

         cars   wt  mpg  price          drive           type
0     Ferrari  309  100   5000  forward-wheel  goods-utility
1         BMW  500  120   8000     rear-wheel            suv
2  Lamborgini  400  230  10000     rear-wheel         sports
3        Ford  350  350  12000  forward-wheel        general

In [18]:
import scipy
cross_tab = pd.crosstab(df1["drive"],df1["type"])

In [20]:
stats.chi2_contingency(cross_tab)

(4.0,
 0.26146412994911117,
 3,
 array([[0.5, 0.5, 0.5, 0.5],
        [0.5, 0.5, 0.5, 0.5]]))