In [19]:
print('%12d' %(12345))

       12345

In [26]:
fruits = {"first":"apple","second":"mango","third":"grapes"}
fruits[1]

KeyError: 1

In [2]:
import re
str="python shell"
if re.search(".....",str):
    print("len greater than or equal to 5")

len greater than or equal to 5

In [7]:
# Python program to extract emails From
# the String By Regular Expression.

# Importing module required for regular
# expressions
import re

# Example string
s = """Hello from shubhamg199630@gmail.com
		to priya@yahoo.com about the meeting @2PM"""

# \S matches any non-whitespace character
# @ for as in the Email
# + for Repeats a character one or more times
lst = re.findall(r'\S+@\S+', s)	

# Printing of List
print(lst)

['shubhamg199630@gmail.com', 'priya@yahoo.com']

In [6]:
# Python program to validate an Email

# import re module

# re module provides support
# for regular expressions
import re

# Make a regular expression
# for validating an Email
regex = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}'

# Define a function for
# for validating an Email


def check(email):

	# pass the regular expression
	# and the string into the fullmatch() method
	if(re.fullmatch(regex, email)):
		print("Valid Email")

	else:
		print("Invalid Email")


# Driver Code
if __name__ == '__main__':

	# Enter the email
	email = "ankitrai326@gmail.com"

	# calling run function
	check(email)

	email = "my.ownsite@our-earth.org"
	check(email)

	email = "ankitrai326.com"
	check(email)

Valid Email
Valid Email
Invalid Email

In [16]:
import re
for i in re.finditer(r'[a-zA-Z]+ing',"walking down thw road he was thinking about coming years"):
    print(type(i.group()))

<class 'str'>
<class 'str'>
<class 'str'>

In [17]:
import re
type(re.findall(r'[a-zA-Z]+ing',"walking down thw road he was thinking about coming years"))

list

In [6]:
cubes = []
end = 10
for i in range (1, end+1):
    cubes.append(i ** 3)
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [8]:
cubes = [x**3 for x in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [10]:
squares = [x**2 for x in range(1,9)]
squares

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
l = [['rama',160],['shyama',304],['gopi',280],['ravi',301]]
threshold = 300
tall = [x for x in l if x[1]<=threshold]
tall

[['rama', 160], ['gopi', 280]]

In [17]:
sal = [20000,80000,35000,35000,150000]
limit = 50000
taxpayers = [x for x in sal if x>=limit]
taxpayers

[80000, 150000]

In [18]:
s1 = ['a','b','c','d']
s2 = [1,2,3,4]
cp = [[x,y] for x in s1 for y in s2]
cp

[['a', 1],
 ['a', 2],
 ['a', 3],
 ['a', 4],
 ['b', 1],
 ['b', 2],
 ['b', 3],
 ['b', 4],
 ['c', 1],
 ['c', 2],
 ['c', 3],
 ['c', 4],
 ['d', 1],
 ['d', 2],
 ['d', 3],
 ['d', 4]]

In [19]:
names = ['jones','mary','david','kim']
ages = [23,30,32,35]
cp  = [[x,y] for x in names for y in ages]
cp

[['jones', 23],
 ['jones', 30],
 ['jones', 32],
 ['jones', 35],
 ['mary', 23],
 ['mary', 30],
 ['mary', 32],
 ['mary', 35],
 ['david', 23],
 ['david', 30],
 ['david', 32],
 ['david', 35],
 ['kim', 23],
 ['kim', 30],
 ['kim', 32],
 ['kim', 35]]

In [29]:
def lstUpdate(a,i,val):
    a[i]=val
    
def main():
    lst = [10,20,30]
    lstUpdate(lst,0,15)
    print(lst)
    
if __name__=='__main__':
    main()

[15, 20, 30]

In [5]:
def reverse(str):
    if str=="":
        return ""
    else:
        return reverse(str[1:])+str[0]

    
reverse("deepika")

'akipeed'

In [74]:
def rev(str):
    if str=="":
        return ""
    else:
        #print(str)
        #print(str[len(str)-1],end="")
        return (rev(str[0:len(str)-1]))

In [75]:
def palindrome(str):
    print(len(rev(str)))
    print(len(str))
    if rev(str)==str:
        return "palindrome"
    else:
        return "not a palindrome"

    
palindrome("madam")

0
5

'not a palindrome'

In [79]:
name = 'depika'
age = 33
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is depika and I'm 33 years old.

In [78]:
answer = "python fstrings"
print(f"your answer is {answer}")

your answer is python fstrings

In [5]:
s = "hello"
print(s[:4])

hell

In [12]:
for i in range(0,5,2):
    print(i)

0
2
4

In [18]:
import copy as cp
lst1 =[1,2,[3,4]]
lst2 = cp.deepcopy(lst1)
print(id(lst1[2]))
print(id(lst2[2]))

140363361021312
140363361077824

In [38]:
f = open("pythonFile","w")
f.write("python code")
f.close()
f=open("pythonFile","r")
print(f.tell())
print(f.read(4))
print(f.tell())
print(f.read(4))

0
pyth
4
on c

In [11]:
print("%s is %d years old and achieved %0.2f marks" % ("deepika",33,501.30))
#inject values in a string
name="depika"
print(f"{name} is a good python coder") #fstrings
print("%-4d" %(12))

deepika is 33 years old and achieved 501.30 marks
depika is a good python coder
12

In [19]:
print("minimum percentage is {per:.2f}%".format(per=60))

minimum percentage is 60.00%

In [18]:
percent = 12
print ("Percentage: {}%".format(percent))

Percentage: 12%

In [21]:
print("one dollar value is {rupee:}@".format(rupee=80))

one dollar value is 80@

In [25]:
y = -0.25
print("Formatted Number with percentage: {:.2%}".format(y))

Formatted Number with percentage: -25.00%

In [28]:
rupee = 80
print("one dollar value {:.2f}$".format(rupee))

one dollar value 80.00$

In [37]:
price = 45
print("for only {:.2f}".format(price))

for only 45.00

In [38]:
per = 90
print("max percentage is {:0.2f}%".format(per))

max percentage is 90.00%

In [41]:
float([5]),,

TypeError: float() argument must be a string or a number, not 'list'