In [64]:
names=["mary","tom","kathy","mathew","john","sophie"]
people=names
emp=[["mary",25000],["tom",20000.00],["kathy",45000],["mathew",68000.900],["zubin",100000.0]]
names=names+["george","hummus"]
#lists can be non homegenous
'''len(names)
max(emp)
["mary",25000] in emp
for i in emp:
    print(i)
'''
emp.extend(["barbara","kim"])
emp

[['mary', 25000],
 ['tom', 20000.0],
 ['kathy', 45000],
 ['mathew', 68000.9],
 ['zubin', 100000.0],
 'barbara',
 'kim']

In [48]:
names=["mary","tom","kathy","mathew","john","sophie"]
len(names)
names[::2]
max(names)
"kathy" in names

True

In [47]:
marks=[25,60,80,90,50,70,45]
sum(marks)

420

In [56]:
vowels="aeiou"
list(vowels)

['a', 'e', 'i', 'o', 'u']

In [77]:
a=[12,10,78,90,45,33]
a.append(50)
a
a.extend([1,2,3,3,3,3])
a.count(3)
a.pop(3)
a
#pop returns the element whose index is passed as an argument, while removing it from the list
a.remove(3)
a.remove(10)
a
#remove takes the value to be removed from the list and removes FIRST occurence of that value from the list

[12, 78, 45, 33, 50, 1, 2, 3, 3, 3]

In [82]:
a=[12,10,78,90,45,33]
a.append(50)
a.pop(a.index(10))
a

[12, 78, 90, 45, 33, 50]

In [96]:
a=[12,10,78,90,45,33,50]
#a.append(50)
del a[::3]
b = a
del a
b

NameError: name 'a' is not defined

In [110]:
fruits = ["apple","banana","cherry","fig","grapes"]
fruits.insert(1,"avocado")
fruits
fruits.reverse()
fruits.append("jackfruit")
fruits.reverse()
fruits
fruits.pop(0)
fruits

['apple', 'avocado', 'banana', 'cherry', 'fig', 'grapes']

In [121]:
countries=["bangladesh","germany","france","bhutan","india","canada","usa"]
countries.sort()
countries.sort(reverse=True)
countries.sort(key=len)
countries.extend(["kenya","cuba","libya","newzealand"])
countries.index("usa")
countries

['usa',
 'india',
 'france',
 'canada',
 'bhutan',
 'germany',
 'bangladesh',
 'kenya',
 'cuba',
 'libya',
 'newzealand']

In [2]:
x = [i**2 for i in range(1,5)]
x

[1, 4, 9, 16]