In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [19]:
pd.NaT

NaT

In [8]:
type(df.dropna())

pandas.core.frame.DataFrame

In [6]:
df.dropna(axis=1)

       name
0    Alfred
1    Batman
2  Catwoman

In [7]:
df

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [9]:
print(np.__version__)

1.21.5

In [32]:
df.dropna(subset=["born"],axis=1)

KeyError: ['born']

In [12]:
df.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [13]:
np.nan

nan